.container{
    height: 625px;
    width:70%;
    background-color: rgb(245, 232, 232);
   
}
.

.d1{
    height: 100px;
    width:12%;
    background-colo:white;
    float: left;
   
}
.d2{
    height: 100px;
    width:88%;
    background-color: rgba(189, 184, 184, 0.2);
  
    float: right;
    text-align: center;
}
h1{
    color: rgb(12, 178, 190);
}


.div1{
    height: 625px;
    width:100%;
    float: left;
    display: flex;
    
    
}

.container2{
    height:625px; ;
    width:100%;
    background-color:rgb(181, 181, 214);
    *{
        text-align: center;
    }
}
.select{

    background-color :#0ad436;
    margin-left: 200px;
    margin-top: 40px;
    padding-top: 20px;
    height: 50px;
    width: 300px;
    font-size: 25px;
    border-radius:8px;
    box-shadow:0 8px 16px rgba(0,0,0,3);
   
}
.select2{

    background-color :#f876ef;
    margin-left: 200px;
    margin-top: 40px;
    padding-top: 20px;
    height: 50px;
    width: 300px;
    font-size: 25px;
    border-radius:8px;
    box-shadow:0 8px 16px rgba(0,0,0,3);
   
}
.select2:hover{
    background-color:#07e8a8;
    }
    .select2:active{
        color: wheat;
        background-color: rgb(17, 53, 215);
    }
    .select2:visited{
        color: rgb(245, 55, 55);
    }

.A{
    text-decoration: none;
}

.select:hover{
background-color:#07e8a8;
}
.select:active{
    color: wheat;
    background-color: rgb(17, 53, 215);
}
.select:visited{
    color: rgb(245, 55, 55);
}
.if{
    height:600px;
    width:100%;
}
.h{
    background-color: #9376fb;
    height: 60px;
    margin-top: 6px;
     
}